<h1><%= @recipe.name %></h1>

<h4><%= @recipe.directions%></h4>
<h1><%= @recipe.ingredients %></h1>

<% if @recipe.tags.any? %>
  <h4>Recipe Tags:</h4>
  <% @recipe.tags.each do |tag| %>
    <ul>
      <li>
        <%= link_to @recipe.tags, recipe_tag_path(@album, song) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No tags are listed for this recipe.</p>
<% end %>

<p><%= link_to "Add a tag", new_recipe_tag_path(@recipe) %></p>

<p><%= link_to "Edit", edit_recipe_path(@recipe) %></p>
<p><%= link_to "Delete", recipe_path(@recipe), :data => {:confirm => "Do you want to delete this recipe?", :method => "delete"} %></p>

<p><%= link_to "Return to all recipes", recipe_path %></p>